@using McvOnlineTicariOtomasyon.Models.siniflar
@model List<FaturaKalem>
@{
    ViewBag.Title = "FaturaDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Fatura Detay Sayfası</h2>
<br />

<ol class="breadcrumb m-4">
    <li class="breadcrumb-item active"></li>
</ol>

<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Açıklama</th>
        <th>Miktar</th>
        <th>Birim Fiyat</th>
        <td>Tutar</td>
    </tr>
    @foreach (var u in Model)
    {
        <tr>
            <td>@u.FaturaKalemId</td>
            <td>@u.Acıklama</td>
            <td>@u.Miktar</td>
            <td>@u.BirimFiyat</td>
            <td>@u.Tutar</td>
        </tr>
    }
</table>
<a href="/Fatura/FaturaKalemEKle"class="btn btn-default"style="background-color:darksalmon">Yeni Kalem Girişi</a>
